<!DOCTYPE html>
<html ng-app="eidosBs">
<head lang="en">
    <meta charset="UTF-8">
    <title>Eidos BS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/flat-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <script src="{{ url_for('static', filename='js/lib/angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
